.windDirection .icon {
  font-size: 52pt;
	color: white;
  font-family: "dripicons-weather";
  font-weight: 10;
}

.windDirection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.windInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0 0 0 2em;
}

.infoText {
  padding: 0;
  font-weight: bolder;
}

.compass {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.western {
  margin: 0 .5em 0 0;
}
.eastwood {
  margin: 0 0 0 .5em;
}

.north, .south {
  margin: 0 auto;
}

.cardinalDir {
  font-size: 13pt;
}