.icon {
  font-size: 22pt;
	color: white;
  font-family: "dripicons-weather";
  font-weight: 10;
}

.sunPointsTable {
  width: max-content;
  display: flex;
  align-self: flex-end;
  margin: 0 1em 0 0;
}

.sunPoints {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pointText {
  margin: 0;
  padding: 0;
}
.pointText:first-child {
  padding: 0 1em 0 1em;
  text-align: right;
}

.pointsRow {
  align-self: baseline;
}