.loader {
  height: 450px;
  width: 458px;
  border-radius: 10px;
  border: 1px solid #00000090;
  background-color: #0003;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 458px) {
  .loader {
    width: 100vw;
    min-width: none;
    max-width: none;
    border-radius: 0;
    border: none;
  }
}

.loader.error {
  background-color: #d004;
}

.loader.error::after {
  animation: none;
}

.errorMsg {
  color: #fff;
  font-weight: bolder;
  font-size: 16pt;
  word-wrap: break-word;
  width: 90%;
  text-align: center;
}

.loader::after {
  content: '';
  width: 500%;
  height: 500%;
  transform: translate(-100%, -100%);
  position: absolute;
  background-image: linear-gradient(135deg, #0000, #fffc, rgba(2, 2, 2, 0));
  animation: loader-anim 1.5s ease-in-out infinite;
}

@keyframes loader-anim {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}